body {
    background: url("https://i.imgur.com/48wh8i5.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #E5EAFA;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #093824;
    font-size: 54px;
    font-family: Arial, sans-serif;
}

h3 {
    color: #C6CCB2;
    font-size: 18px;
    font-family: Raleway, sans-serif;
}

.form-control {
    border: 1px solid #C6CCB2;
}

.subscribe-button {
    background-color: #093824;
    border-color: #093824;
    color: #fff;
}

.thank-you-message {
    color: #093824;
    font-size: 18px;
    font-family: Raleway, sans-serif;
}
