body {
    background: url("https://i.imgur.com/48wh8i5.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #E5EAFA;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #093824;
    font-size: 54px;
    font-family: Arial, sans-serif;
}

h2 {
    color: #093824;
    font-size: 36px;
    font-family: Arial, sans-serif;
}

h3 {
    color: #C6CCB2;
    font-size: 18px;
    font-family: Raleway, sans-serif;
}

p {
    font-size: 18px;
    font-family: Raleway, sans-serif;
    line-height: 1.5;
}

.form-control {
    border: 1px solid #C6CCB2;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    width: 70%;
}

.subscribe-button {
    background-color: #093824;
    border-color: #093824;
    color: #fff;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
}

.thank-you-message {
    color: #093824;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    display: none;
}

.middle-section {
    background-color: rgba(198, 204, 178, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
